body {
    background-color: black;
    text-decoration-color: white;
}
.centerheader {
    text-emphasis-color: white;
    text-align: center;
    text-decoration: underline;
}
.centerparagraph {
    text-align: center;
}
